:root {
  --primary: #7B1E1E;
  --secondary: #F4A261;
  --bg: #FFF7E6;
  --text: #3A1F1F;
  --accent: #2A9D8F;

  --chocolate: #4B1F1A;
  --rose: #C48A93;
  --pista: #9FAE9A;
  --cream: #C9C7B6;
  --caramel: #8B5A2B;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
main{
  min-height: 100vh;
  width: 100%;
  overflow: visible;
  position: relative;
  z-index: 2;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  
  
}
main{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order-success-container{
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.success-icon{
  font-size: 50px;
  margin-bottom: 10px;
}
.order-id-box{
  background: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  margin: 20px 0;
}
.order-id-box span {
  font-size: 14px;
  color: #555;
}

.order-id-box h2 {
  margin: 5px 0 0;
  color: #27ae60;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.receipt{
  background-color: #ececec;
  min-height: 75vh;
  border-radius: 15px;
  width: 650px;
  padding: 20px;
  position: relative;
}
#otherdetails{
  margin: 20px 0;
}
#receiptItems{
  padding: 20px 0;
  margin: 10px 0;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
}
.receipt-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: 14px;
}
.receipt-total {
  border-top: 1px dashed black;
  margin-top: 10px;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  
}
.bill-row{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 6px 0;
}
#otherdetails b, #otherdetails span{
  font-size: 1.1rem;
}
#deliveryCharge {
  color: #27ae60;
  font-weight: bold;
}
.bill-top{
  display: flex;
  justify-content: space-between;

}
@media print {
  body * {
    visibility: hidden;
  }

  .receipt, .receipt * {
    visibility: visible;
  }

  .receipt {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .bill-top .btn {
    display: none;
  }
}